<nav>
  {{#link-to 'posts' 'javascript'}}
    JavaScript
  {{/link-to}}

  {{#link-to 'posts' 'emberjs'}}
    EmberJS
  {{/link-to}}

  {{#link-to 'posts' 'Programming'}}
    Programming
  {{/link-to}}
</nav>

{{outlet}}
